<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.zyj.dao.slave.SlaveUserDao">

    <!--查询所有用户-->
    <select id="selectAllUser" resultType="java.lang.String" >
        select username from cd_user;
    </select>
</mapper>